body{
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
}
.custom-switch{
    position: absolute;
    top: 15px;
    right: 50px;
}
/*Login*/
.sign-in{
    background-color: #14213d !important;
}
.sign-control li.current a{
    background-color: #FCA311 !important;
}
.sign_in_sec form button{
    background-color: #FCA311 !important;
}
.sign_in_sec h3:before{
    background-color: #FCA311 !important;
}
.btnEnviar{
    background-color: #FCA311 !important;
    border-color: #FCA311;
    color: white;
}
footer{
    background-color: whitesmoke !important;
}
.paginacion{
    height: 35px!important;
}

.tc a{
    color: white;
}
.cm-logo{
    margin: 0;
    display: flex;
}
.cm-logo h1{
    font-size: 3em;
    text-align: center;
}
.cm-logo h1:before{
    background-color: #FCA311 !important;
}
.letraNaranja{
    color: #FCA311;
    padding: 0 15px;
}
.letraAzul{
    color: #14213d;
    padding: 0 15px;
}
.letraGris{
    color: #919091;
    padding: 0 15px;
}
header{
    background-color: #14213d;
}

header nav{
    background-color: #14213d;
}

.logo img{
    width: 50px !important;
    height: 50px !important;
}

.logo{
    margin-bottom: 4px;
    margin-top: 4px;
}

.user-account{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.user-info{
    float: right;
    width: 85%;
}
.user-info a{
    font-size: 16px;
}
.user-account-settingss.active{
    top: 60px;
}

.active{
    top: 11.5%;
}
/*checkbox de login */
#remember{
    width: 20px !important;
    height: 20px !important;
}
label[for=remember]{
    margin-top: .5rem !important;
}
.elogin ,.error{
    margin-bottom: .5rem !important;
}
.sn-field{
    margin-bottom: 12px !important;
}
.cover-sec > a{
    color: #FCA311 !important;
    border-color: #FCA311 !important ;
}
.message-btn a{
    background-color: #FCA311 !important ;
}

.user_pro_status{
    padding-bottom: 0;
}
.flw-hr{
    background-color: whitesmoke;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: 0;
}
.flw-status{
    padding: 20px 0;
}

.tab-feed ul li.active span{
    color: #FCA311 !important;
}

.cover-sec > a{
    color: #FCA311 !important;
    border-color: #FCA311 !important ;
}
.message-btn a{
    background-color: #FCA311 !important ;
}

.user_pro_status{
    padding-bottom: 0;
}
.flw-hr{
    background-color: whitesmoke;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: 0;
}
.flw-status{
    padding: 20px 0;
}

.tab-feed ul li.active span{
    color: #FCA311 !important;
}

.user-account{
    border: 0;
}

.row .col-5 h2{
    padding: 5% 0%;
    text-transform: uppercase;
}

/*Paginacion*/

@media (min-width: 992px){
    .cm-logo h1{
        display: none;
    }
}

/*Menu*/
.tituloMenu{
    padding-top: 14px;
}
.nav ul li span i{
    font-size: 2em;
}
.nav ul li{
    padding: 10px 13px;
}
.nav{
    justify-content: flex-end !important;
}
@media (max-width: 768px) and (min-width: 410px){
    .tituloMenu{
        display: none !important;
    }
    .menu{
        display: flex;
        justify-content: center;
        padding: 3%;
    }
    .nav ul li span i{
        font-size: 1.5em;
    }
    .user-info a{
        font-size: 12px;
    }
}
/*Proyectos*/
@media (min-width: 360px) {
    .tituloProyecto{
        text-transform: uppercase;
        padding: 20px 0px;
    }
}
.card{
    margin: 20px 0;
}

/*Ajustes*/
.nav-link.active{
    color: #FCA311 !important ;
}
.save-stngs ul li button:hover{
    background-color: #FCA311 !important;
}

@media (max-width: 576px) {
    header nav.active{
        width: 100%;
        height: 25%;
    }
    .logo{
        display: none;
    }
}
