body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
/*Login*/
.sign-in{
    background-color: #14213d !important;
}
.sign-control li.current a{
    background-color: #FCA311 !important;
}
.sign_in_sec form button{
    background-color: #FCA311 !important;
}
.sign_in_sec h3:before{
    background-color: #FCA311 !important;

}
header{
    background-color: #14213d;
}


header nav{
    background-color: #14213d;
}

.logo img{
    width: 50px !important;
    height: 50px !important;
}

.logo{
    margin-bottom: 4px;
    margin-top: 4px;
}

.user-account{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.user-info{
    float: right;
    width: 85%;
}

.user-account-settingss.active{
    top: 60px;
}

.active{
    top: 11.5%;
}

.user-account{
    border: 0;
}

/*Ajustes*/
.nav-link.active{
    background-color: #FCA311 !important ;
}

@media (max-width: 576px) {
    header nav.active{
        width: 100%;
        height: 25%;
    }
    .logo{
        display: none;
    }
}
