body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
/*Login*/
.sign-in{
    background-color: #14213d !important;
}
.sign-control li.current a{
    background-color: #FCA311 !important;
}
.sign_in_sec form button{
    background-color: #FCA311 !important;
}
.sign_in_sec h3:before{
    background-color: #FCA311 !important;
}
.btnEnviar{
    background-color: #FCA311 !important;
    border-color: #FCA311;
    color: white;
}
.tc a{
    color: white;
}

header{
    background-color: #14213d;
}

header nav{
    background-color: #14213d;
}

.logo img{
    width: 50px !important;
    height: 50px !important;
}

.logo{
    margin-bottom: 4px;
    margin-top: 4px;
}

.user-account{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.user-info{
    float: right;
    width: 85%;
}

.user-account-settingss.active{
    top: 60px;
}

.active{
    top: 11.5%;
}
/*checkbox de login */
#remember{
    width: 20px !important;
    height: 20px !important;
}
label[for=remember]{
    margin-top: .5rem !important;
}
.elogin ,.error{
    margin-bottom: .5rem !important;
}
.sn-field{
    margin-bottom: 12px !important;
}

.user-account{
    border: 0;
}

.row .col-5 h2{
    padding: 5% 0%;
    text-transform: uppercase;
}

/*Menu*/
.nav{
    justify-content: flex-end !important;
}
@media (max-width: 768px) and (min-width: 410px){
    .tituloMenu{
        display: none !important;
    }
    .menu{
        display: flex;
        flex: auto;
        justify-content: center;
        padding: 3%;
    }
}

/*Ajustes*/
.nav-link.active{
    color: #FCA311 !important ;
}
.save-stngs ul li button:hover{
    background-color: #FCA311 !important;
}

@media (max-width: 576px) {
    header nav.active{
        width: 100%;
        height: 25%;
    }
    .logo{
        display: none;
    }
}
